@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Work+Sans:wght@300&display=swap');
* {
  margin: 0;
  padding: 0; 
}

body {
  background-color: rgb(70, 66, 66);
}

.image-header {
  min-height: 350px;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.4;
}

.page-title-header{
  font-family: 'Andada Pro', serif;
  font-size: 100px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.describe-city {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 40px 80px;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
}

.tourism_title{
  font-family: 'Andada Pro', serif;
  font-size: 40px;
  font-weight: 400;
  padding: 40px 80px;
  height: 80px;
  color:white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

.tourism {
  display: flex;
  justify-content: space-around;
  grid-auto-flow: column;
  grid-column-gap: 50px;
  padding: 30px 100px;
}

.tourism_statue_of_liberty{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: gray;
  border-radius: 20px;
  height: 750px;
}

#image_statue_of_liberty{
  height: 400px;
  width: 300px;
}

.tourism_times_square{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: gray;
  border-radius: 20px;
  height: 750px;
}

#image_times_square{
  height: 400px;
  width: 300px;
}

.tourism_central_park{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: gray;
  border-radius: 20px;
  height: 750px;
}

#image_central_park{
  height: 400px;
  width: 300px;
}

h3 {
  font-size: 24px;
}

.footer {
  background-color: white;
  font-family:'Work Sans', sans-serif;
  font-size: 18px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}
